html,
body {
	width: 100%;
	height: 100%;
	/*color: #f1f3f5;*/
}


/*背景颜色黑色*/

.mui-content {
	width: 100%;
	height: 100%;
	background-color: #1b212e;
}

.mui-bar-tab .mui-tab-item .mui-icon {
	width: 49px;
	height: 49px;
}

.mui-bar-tab,
.mui-bar-nav {
	background: #1b212e;
}


/*返回按钮颜色 白色*/

.mui-pull-left {
	color: #FFFFFF;
}


/*修改nav文字颜色 白色*/

.mui-bar-nav .mui-title {
	color: #ffffff;
	font-size: 20px;
}

.font16 {
	font-size: 16px;
	color: #333333;
}

.font14 {
	font-size: 14px;
	color: #999999;
}


/*头像*/
.img-avatar {
	border-radius: 50%;
	vertical-align: middle;
	width: 45px;
}

.btn-fix-bottom {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	text-align: center;
}

.btn-fix-bottom button {
	width: 100%;
	height: 50px;
	border-radius: 0;
	background-color: #0c8cda;
}